# Node.js
backend/node_modules
backend/dist
#tsconfig.tsbuildinfo

# Datenbanken
datenbank/mongo
datenbank/postgres

# Umgebungsdateien
#.env

# Docker
#docker-compose.override.yml

# Log-Dateien
#*.log
